@import url(“https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap”);
/* @media url(“https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css”); */
* {
  padding: 0;
  margin-top: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: “Poppins”, sans-serif;
  background-color: #EDDEDD;
}
header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
h1 {
  text-align: center;
}


/* navigation bar */
.nav {
  overflow: hidden;
  background-color: #8AC6D1;
  height: fit-content;
}
.nav a {
  display: inline-block;
  width: 13%;
  outline-offset: 0px;
  text-shadow: none;
  color: rgb(80, 78, 78);
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 20px;
  transition: all 800ms cubic-bezier(0.18, 1, 0.23, 1);
}
.nav h1 {
  display: inline-block;
  color: rgb(80, 78, 78);
  text-align: center;
  padding: 16px 16px;
  font-size: 2.5em;
  widows: 2px;
}
.nav .icon {
  display: none;
}
.nav a:hover,
.nav a:active,
.dropdown:hover .dropbtn {
  background-color: rgb(119, 119, 119);
  color: white;
  letter-spacing: 5px;
}
#all:hover a:hover {
  opacity: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
@media screen and (max-width: 600px) {
  .nav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  .nav a.icon {
    float: right;
    display: block;
    font-size: large;
  }
}
@media screen and (max-width: 600px) {
  .nav.responsive {
    position: relative;
  }
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    margin: 16px;
  }
  .nav.responsive a {
    float: none;
    display: grid;
    text-align: center;
    width: auto;
  }
}
/*footer */
.footer {
  width: 95%;
  height: 350px;
  position: relative;
  justify-content: flex;
  background-color: #fff;
  border-radius: 3px;
  margin: 30px;
}
.footer-content {
  height: 300px;
  display: flex;
  padding: 40px 60px;
  width: 100%;
  border-bottom: 1px solid #84849D;
}
.footer-section {
  width: 20%;
}
.footer-content .form p {
  font-size: 14px;
}
.footer-section li {
  list-style: inherit;
  padding-bottom: 7px;
}
.footer-section li a {
  text-decoration: none;
  color: #000948;
}
.footer-section h3 {
  color: #010837;
}
.footer-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  line-height: 50px;
  width: 100%;
  text-align: center;
  color: #84849D;
}
/* store sections carousels */
.carousel {
  display: flex;
  overflow-x: auto;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  margin: 0 auto 0 auto;
  width: 90vw;
  height: fit-content;
  border: solid #F3E6FF 0.5px;
}
.carousel::-webkit-scrollbar {
  display: none; 
  -webkit-overflow-scrolling: auto; 
}
.item {
  min-width: 300px;
  height: 300px;
  margin: 15px;
  font-size: 5em;
  text-align: center;
  background-color: #FFF9EF;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: inline-table;
  position: static;
  width: 40%;
  transition: 0.3s;
}
.item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.container {
  padding: 0;
  font-size: small;
  margin: 10px;
  display: block;
  justify-content: space-around;
}
/* Section tile */
.store-title {
  text-align: left;
  color: rgb(0, 0, 0);
  padding: 15px;
}