@import url(“https://fonts.googlecpis.com/css2?family=Poppins:wght@300;400&display=swap”);
/* @media url(“https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css”); */
:root {
  --background-color: #fff4f4;
  --store-slider-bg-color: white;
  --nav-color: #cec8ef;
  --nav-text-color: rgb(80, 78, 78);
  --nav-hover-color: rgb(119, 119, 119);
}

* {
  padding: 0;
  margin-top: 0;
  box-sizing: border-box;
}

body {
  justify-content: space-around;
  margin: 0;
  padding: 0;
  font-family: “Poppins”, sans-serif;
  background-color: var(--background-color);
}
header {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
h1 {
  text-align: center;
}
a {
  text-decoration: none;
  color: blueviolet;
}

details summary::-webkit-details-marker {
  display: none;
}

/* navigation bar */
.nav {
  position: relative;
  overflow: hidden;
  width: 100%;
  justify-content: space-between;
  background-color: var(--nav-color);
}
.nav .nav-section,
.dropdown {
  position: relative;
  width: 13%;
  display: inline-flex;
  background-color: var(--nav-color);
  outline-offset: 0px;
  text-shadow: none;
  color: var(--nav-text-color);
  text-align: center;
  justify-content: space-around;
  padding: 16px;
  text-decoration: none;
  margin: 0px auto 0px auto;
  font-size: 20px;
  clear: both;
  transition: all 800ms cubic-bezier(0.18, 1, 0.23, 1);
}
.nav a.homeIcon img {
  text-decoration: none !important;
  display: inline-block;
  color: var(--nav-text-color);
  text-align: center;
  widows: 2px;
  width: 20%;
  padding: none;
  margin: none;
  border: none;
}

.nav a.homeIcon {
  text-align: center;
  width: 100%;
  margin: none;
  padding: none;
  height: 2cm;
  object-fit: cover;
  background-size: cover;
}

.nav .icon {
  display: none;
  width: 13%;
  outline-offset: 0px;
  text-shadow: none;
  color: var(--nav-text-color);
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 20px;
  transition: all 800ms cubic-bezier(0.18, 1, 0.23, 1);
}
.nav .nav-section:hover,
.nav .nav-section:active,
.dropdown:hover .dropbtn {
  background-color: var(--nav-hover-color);
  color: white;
  letter-spacing: 5px;
}

.dropdown-content a:hover {
  background-color: var(--nav-hover-color);
  color: white;
  transition-delay: 0.5s;
}
.dropdown-content a:before,
.dropdown-content a:after {
  content: "";
  position: absolute;
  transition: inherit;
  z-index: -1;
}

.dropdown-content a:hover:before {
  transition-delay: 0s;
}

.dropdown .dropbtn {
  overflow: hidden;
  float: inline-end;
  position: relative;
  display: flex;
  outline: none;
  width: 100%;
  position: relative;
  border: none;
  text-shadow: none;
  background-color: var(--nav-color);
  text-align: center;
  padding: 16px;
  text-decoration: none;
  justify-content: space-evenly;
  font-size: 20px;
  transition: all 800ms cubic-bezier(0.18, 1, 0.23, 1);
}

.dropdown-content a {
  background-color: #ddd;
  position: relative;
  color: black;
}

.dropdown-content {
  z-index: 20 !important;
  display: none;
  position: relative;
  background-color: #f9f9f9;
  min-width: 160px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown .dropdown-content {
  display: grid;
  z-index: 100;
}

@media screen and (max-width: 600px) {
  .nav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  .dropdown .dropbtn {
    display: none;
  }
  .nav a.icon {
    float: right;
    display: block;
  }
  .nav a.homeIcon img {
    width: 50%;
  }

  /* .dropdown{
    width: 100%;
  } */
  /* .nav details{
    width: 100%;
    display: block;
  } */
}

@media screen and (max-width: 600px) {
  .nav.responsive {
    position: relative;
  }
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive .nav-section {
    float: none;
    display: grid;
    text-align: center;
    width: auto;
  }
  .nav.responsive .dropdown {
    float: none;
    display: block;
    width: auto;
  }
  .nav.responsive .dropdown .dropdown-content a {
    position: relative;
    display: block;
    width: 100%;
  }
  .nav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: center;
  }
}

/* images sliders */
.home {
  height: 60vh;
  overflow: hidden;
  position: relative;
}

.home .slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
  display: none;
  padding: 0 15px;
  animation: slide 2s ease;
}
.home .slide.active {
  display: flex;
}
@keyframes slide {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.slide-container {
  max-width: 1170px;
  margin: auto;
}

.home .slide-container {
  flex-grow: 1;
}
.home .caption {
  width: 50%;
}
.home .caption h1 {
  font-size: 42px;
  color: #000000;
  margin: 0;
}
.home .slide.active .caption h1 {
  opacity: 0;
  animation: captionText 0.5s ease forwards;
  animation-delay: 1s;
}
.home .caption p {
  font-size: 18px;
  margin: 15px 0 30px;
  color: #222222;
}
.home .slide.active .caption p {
  opacity: 0;
  animation: captionText 0.5s ease forwards;
  animation-delay: 1.2s;
}
.home .caption a {
  display: inline-block;
  padding: 10px 30px;
  background-color: #000000;
  text-decoration: none;
  color: #ffffff;
}

.home .slide.active .caption a {
  opacity: 0;
  animation: captionText 0.5s ease forwards;
  animation-delay: 1.4s;
}

@keyframes captionText {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.home .controls .prev,
.home .controls .next {
  position: absolute;
  z-index: 2;
  top: 50%;
  height: 40px;
  width: 40px;
  margin-top: -20px;
  color: #ffffff;
  background-color: #cd2026;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.home .controls .prev:hover,
.home .controls .next:hover {
  background-color: #000000;
}
.home .controls .prev {
  left: 0;
}
.home .controls .next {
  right: 0;
}

.home .indicator {
  position: absolute;
  left: 50%;
  bottom: 30px;
  z-index: 2;
  transform: translateX(-50%);
}

.home .indicator div {
  display: inline-block;
  width: 25px;
  height: 25px;
  color: #ffffff;
  background-color: #cd2026;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  margin: 0 3px;
}

.home .indicator div.active {
  background-color: #000;
}

/*responsive*/
@media (max-width: 767px) {
  .controls {
    display: none;
  }
}

/* ------------------------------------ */
/*footer */
/* ---------------------------------- */
.footer {
  width: 95%;
  height: 350px;
  position: relative;
  justify-content: center;
  background-color: #fff;
  border-radius: 20px;
  margin: 20px auto 10px auto;
  z-index: 0;
}
.footer-content {
  height: 300px;
  display: flex;
  padding: 40px 60px;
  width: 100%;
  border-bottom: 1px solid #84849d;
  padding: 1rem;
  height: 4rem;
  list-style: none;
}
.footer-section {
  width: 20%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  list-style: none;
}

.footer-section li {
  list-style: inherit;
  padding-bottom: 7px;
  list-style: none;
}
.footer-section a {
  display: inline;
  text-align: left;
  justify-content: space-between;
  text-decoration: none;
  color: #000948;
  font-size: 24px;
}
.footer-section h3 {
  color: #010837;
}

.footer-icon {
  width: 24px;
  height: 24px;
}

.footer-section:hover a {
  text-decoration: bold;
  color: pink;
}
@media screen and (max-width: 600px) {
  .footer {
    width: 70%;
    display: flex;
    justify-content: space-between;
  }
  .footer-section,
  .footer-section a,
  li {
    width: 30%;
    display: grid;
    font-size: small;
  }
}

/*--------------- store sections carousels ---------------- */
/* -------------------------------------------------------- */
.carousel {
  display: flex;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0 auto 0 auto;
  width: 90vw;
  height: fit-content;
  border: solid #7daeee 0.5px;
  background-color: var(--store-slider-bg-color);
}

.carousel::-webkit-scrollbar {
  display: none;
  -webkit-overflow-scrolling: auto;
}

.item {
  min-width: 300px;
  height: 300px;
  margin: 15px;
  font-size: 5em;
  text-align: center;
  background-color: #fff9ef;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: inline-table;
  position: static;
  width: 40%;
  transition: 0.3s;
}

.item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0;
  font-size: small;
  margin: 10px;
  display: block;
  justify-content: space-around;
}

.carousel .item .card-image {
  display: flex;
  width: 120px;
  height: 200px;
}

/* Section tile */

.store-title {
  text-align: center;
  color: var(--nav-text-color);
  padding: 15px;
}

/* Section dividers */

hr.dashed {
  border-top: 4px dashed #bbb;
}
