/* demo */
body {
    background: #fff;
}
h1 {
    text-align: center;
}
/* feature */
#faqs .qa-pairs dl {
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: flex;
    flex-flow: column;
}
#faqs .qa-pairs dl > * {
    box-shadow: inset 0px 1px 10px -1px rgba(204, 204, 204, .8);
    border: 1px solid #ccc;
    border-radius: 5px;
}
#faqs .qa-pairs dt {
    background: pink;
    order: 1;
    z-index: 1;
    line-height: 1.4;
    padding: 12px 44px 12px 24px;
}
#faqs .qa-pairs .faq-toggle {
   /*background: url(http://rephresh.colangelo-sm.com/img/plus-minus.png);
   */
   /*background-position: left top;
   */
    margin-right: 20px;
    margin-top: 13px;
    position: absolute;
    line-height: 1em;
    text-align: center;
    color: #a677c3;
    font-weight: 700;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    display: table;
    cursor: pointer;
}
#faqs .qa-pairs .faq-toggle .circle {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 3px solid #9c8dc3;
    border-radius: 50%;
    position: relative;
    transform: rotate(0deg);
    transform-origin: 50% 50%;
    transition: transform 0.5s;
}
#faqs .qa-pairs .faq-toggle .minus, #faqs .qa-pairs .faq-toggle .plus {
    display: block;
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: #9c8dc3;
    left: 50%;
    margin-left: -5px;
    top: 50%;
    margin-top: -1px;
}
#faqs .qa-pairs .faq-toggle .plus {
    position: absolute;
    width: 10px;
    transform: rotate(90deg);
    transform-origin: 50% 50%;
    transition: width 0.5s;
}
#faqs .qa-pairs dd {
    padding: 22px 24px 12px 24px;
    margin-top: -10px;
    order: 2;
    background: #fff;
}

#faqs .qa-pairs dl.active .faq-toggle .circle {
    transform: rotate(720deg);
    transition: transform 0.5s;
}
#faqs .qa-pairs dl.active .faq-toggle .plus {
    width: 0px;
    transition: width transform 0.5s;
}
@media (max-width: 767px) {
    #faqs .qa-pairs dl {
        font-size: 1.2em;
   }
}
