:root {
  --theme-color: #807bb8;
}

.form {
  margin: 60px auto 60px auto;
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 40%;
  padding: 45px;
  text-align: center;
  box-shadow: 10px 10px var(--theme-color);
  border-radius: 10px;
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form .login-button {
  text-transform: uppercase;
  outline: 0;
  background: var(--theme-color);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  appearance: button;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 20px;
}
.form .message a {
  color: var(--theme-color);
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #ef3b3a;
}

@media screen and (max-width: 600px) {
  .form {
    max-width: 80%;
  }
}

@media screen and (max-width: 1000px) {
  .form {
    max-width: 60%;
  }
}
