body,
ul,
h1,
h2,
h3,
form,
input,
li {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(0, 0, 0, 0.2);
  font-family: helvetica;
}

#cart {
  margin: 75px auto;
  width: 900px;
  height: 600px;
  background-color: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.items {
  float: left;
  width: 710px;
  margin: 0 5px;
  height: 100%;
}

.subTotal {
  float: left;
  width: 180px;
  margin: 0;
  height: 100%;
  background-color: #ecf0f1;
  text-align: center;
}

.items h1 {
  margin: 5px 0;
  font-size: 24px;
  color: #2c3e50;
}

.subTotal h1 {
  margin: 10px 0;
  font-size: 20px;
  color: #34495e;
}

.subTotal h2 {
  margin: 5px 0;
  font-size: 16px;
  color: #34495e;
}

.subTotal h3 {
  margin: 15px 0;
  font-size: 20px;
  color: #16a085;
  font-weight: bold;
}

.subTotal h4 {
  margin: 15px 0;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
}

.checkout {
  height: 30px;
  line-height: 30px;
  width: 100px;
  margin: 10px auto;
  background-color: #e74c3c;
  color: #fff;
}

form {
  font-size: 14px;
  color: #1abc9c;
}

input[type="checkbox"] {
  margin-right: 5px;
}

/*********************************************/

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

.item {
  width: 660px;
  height: 100px;
  margin: 10px auto;
  text-align: left;
}

img {
  display: block;
  border: 0;
  padding: 0;
  margin: 0 auto;
  margin-top: 10px;
  width: 75px;
  height: 80px;
}

.product_image {
  float: left;
  width: 100px;
}

.description {
  float: left;
  padding-left: 5px;
  float: left;
  width: 355px;
  height: 100px;
}

.description h1 {
  font-size: 14px;
  color: #e74c3c;
}

.description h2 {
  font-size: 12px;
  color: #2c3e50;
  margin: 5px 0;
}

.description h3 {
  display: inline-block;
  font-size: 10px;
  height: 20px;
  line-height: 20px;
  width: 100px;
  text-align: center;
  margin: 15px 0;
}

.description h3.delete {
  background-color: #c0392b;
  color: #fff;
}

.description h3.save {
  background-color: #1abc9c;
  color: #fff;
}

.product_quantity {
  float: left;
  width: 100px;
  height: 100px;
}

.quantity_button {
  margin: 33px auto;
  height: 26px;
  width: 71px;
  text-align: center;
  padding: 2px;
  background-color: #ecf0f1;
}

.how_many {
  width: 46px;
  float: left;
  height: 26px;
  line-height: 30px;
  font-size: 1.25em;
  background-color: #fff;
  color: #7f8c8d;
}

.add_sub {
  float: left;
  width: 25px;
}

.add {
  line-height: 13px;
  width: 100%;
  font-size: 10px;
  color: #1abc9c;
  text-align: center;
  font-weight: bold;
}

.sub {
  line-height: 13px;
  font-size: 12px;
  color: #e74c3c;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

.price {
  float: left;
  width: 100px;
  text-align: center;
  line-height: 100px;
  font-size: 1.5em;
  color: #2c3e50;
}
/********************************/

.save ul {
  margin: 0;
  padding: 0;
  display: inline;
}

.save ul li {
  list-style-type: none;
}

.saved_item {
  float: left;
  width: 100px;
  height: 130px;
  margin: 10px 5px;
}

.img {
  display: block;
  border: 0;
  padding: 0;
  margin: 0 auto;
  margin-top: 10px;
  width: 75px;
  height: 80px;
}

.product_image {
  float: left;
  width: 100px;
  height: 100px;
}

.add_cart {
  height: 30px;
  line-height: 16px;
  font-size: 12px;
  text-align: center;
  width: 100%;
  color: #16a085;
  font-weight: bold;
}

.save {
  width: 660px;
  height: 150px;

  margin: 0 auto;
}
