* {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: black;
}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 40%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  /* background-color: #f99; */
  counter-increment: item;
}

/* .carousel__slide:nth-child(even) {
  background-color: #99f;
} */
.carousel-pic1 {
  width: 100%;
  height: 100%;
  background-image: url(./images/Carousel/carousel1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-pic2 {
  width: 100%;
  height: 100%;
  background-image: url(./images/Carousel/carousel2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-pic3 {
  width: 100%;
  height: 100%;
  background-image: url(./images/Carousel/carousel3.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-pic4 {
  width: 100%;
  height: 100%;
  background-image: url(./images/Carousel/carousel4.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 0em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgb(0, 0, 0);
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: "";
  z-index: 1;
  background-color: rgb(165, 165, 165);
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

/*--------------- store sections carousels ---------------- */
/* -------------------------------------------------------- */
.carousel2 {
  display: flex;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0 auto 0 auto;
  width: 73vw;
  height: fit-content;
  background: linear-gradient(
    90deg,
    rgb(255, 240, 241) 0%,
    rgb(210, 210, 255) 100%
  );

  background-color: #ffffff;
}
.carousel2::-webkit-scrollbar {
  display: none;
  -webkit-overflow-scrolling: auto;
}
.featured {
  width: 100%;
  background: linear-gradient(
    90deg,
    rgb(255, 240, 241) 0%,
    rgb(210, 210, 255) 100%
  );
}
.item2 {
  min-width: 300px;
  height: 300px;
  margin: 15px;
  font-size: 5em;
  text-align: center;
  background-color: #ffffff;
  border-radius: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: inline-table;
  position: static;
  width: 20%;
  transition: 0.3s;
}
.item2:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.container2 {
  padding: 0;
  font-size: small;
  margin: 10px;
  display: block;
  justify-content: space-around;
}

.carousel2 .item2 .card-image2 {
  display: flex;
  width: 120px;
  height: 100px;
}
/* Section tile */
.store-title2 {
  text-align: left;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-style: italic;
  text-decoration: underline;
  /* background-color:rgb(212, 212, 212); */
  width: 250px;
  padding: 15px;
}

/* ------------------------------------ */
/*footer */
/* ---------------------------------- */
.footer {
  width: 95%;
  height: 350px;
  position: relative;
  justify-content: center;
  background-color: #fff;
  border-radius: 20px;
  margin: 20px auto 10px auto;
}
.footer-content {
  height: 300px;
  display: flex;
  padding: 40px 60px;
  width: 100%;
  /* border-bottom: 1px solid #84849d; */
  padding: 1rem;
  height: 4rem;
}
.footer-section {
  width: 20%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

.footer-section li {
  list-style: inherit;
  padding-bottom: 7px;
}
.footer-section a {
  display: inline;
  text-align: left;
  justify-content: space-between;
  text-decoration: none;
  color: #000948;
  font-size: 24px;
}
.footer-section h3 {
  color: #010837;
}

.footer-icon {
  width: 24px;
  height: 24px;
}

.footer-section:hover a {
  text-decoration: bold;
  color: pink;
}
@media screen and (max-width: 600px) {
  .footer {
    width: 70%;
    display: flex;
    justify-content: space-between;
  }
}
